@{ 
    ViewData["Title"] = "Delete DB";
}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
   Are you sure delete?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a asp-action="Index">Quan ly Db</a>